# 3章 Pyの具：リスト、タプル、辞書、集合
---
2章では、ブール値、整数、浮動小数点数、文字列という基本データを説明し、Pythonの土台を明らかにした。これらを原子と考えるなら、この章で取り上げるデータ構造は分子のようなものである。つまり、これらの基本データ型を組み合わせて複雑なデータ構造を作れる。プログラミングの仕事では、特定の形でデータを切り貼りする作業が大きなウェートを占めるが、これらのデータ構造はカッターや糊の役割を果たす。

## 3.2 リスト
---
リストは、要素を順番に管理したいとき、特に順序と内容が変わる場合があるときに向いている。文字列とは異なり、リストはミュータブルである。リストの内容は直接変更できる。既存の要素を削除したり書き換えたりすることができる。リスト内では同じ値が複数回登場してもよい。

### 3.2.1 []またはlist()による作成
---
リストは、0個以上の要素をそれぞれカンマ区切り、全体を角かっこで囲んで作る。

例：

In [1]:
empty_list = []
empty_list

[]

In [2]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [3]:
big_birds = ['emu', 'ostrich', 'cassowary']
big_birds

['emu', 'ostrich', 'cassowary']

In [4]:
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael']

list()関数で空リストを作ることもできる。

例：

In [5]:
another_empty_list = list()
another_empty_list

[]

実際にリストの順序を利用しているのは、weekdaysリストだけだ。first_namesリストは、要素の値が一意でなくてもかまわないことを示している。

### 3.2.2 list()によるほかのデータ型からリストへの変換
---
Pythonのlist()関数は、ほかのデータ型をリストに変換する。次に示す例は、文字列を1文字ごとの文字列リストに変換している。

例：

In [6]:
list('cat')

['c', 'a', 't']

次のサンプルは、**タプル**をリストに変換する。

例：

In [7]:
a_tuple = ('ready', 'fire', 'aim')
list(a_tuple)

['ready', 'fire', 'aim']

「2.3.9 split()による分割」で触れたように、split()関数を使えば、なんらかのセパレータ文字列に基づいて文字列を分割してリストにすることができる。

例：

In [8]:
birthday = '1/6/1952'
birthday.split('/')

['1', '6', '1952']

元の文字列に複数のセパレータ文字列が連続している部分があるときにはどうなるのか。この場合は、リスト要素として空文字列が作られる。

例：

In [9]:
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

しかし、//という2文字のセパレータを使えば、次のような結果になる。

例：

In [10]:
splitme.split('//')

['a/b', 'c/d', '/e']

### 3.2.3 [offset]を使った要素の取り出し
---
文字列と同様に、オフセットを指定すればリストからも個々の要素を取り出せる。

例：

In [11]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0]

'Groucho'

In [12]:
marxes[1]

'Chico'

In [13]:
marxes[2]

'Harpo'

これも文字列と同じだが、負のインデックスを使えば、末尾から逆に数えていくことができる。

例：

In [14]:
marxes[-1]

'Harpo'

In [15]:
marxes[-2]

'Chico'

In [16]:
marxes[-3]

'Groucho'

オフセットは、対象のリストのなかで有効なものでなければならない。すでに値を代入した位置でなければならないということである。先頭より前、または末尾よりも後ろのオフセットを指定すると、例外が起きる。

6番目のマルクス兄弟（0から数えるのでオフセットは5）を得ようとするとどうなるか見てみる。

例：

In [17]:
marxes[5]

IndexError: list index out of range

In [18]:
marxes[-5]

IndexError: list index out of range

### 3.2.4 リストのリスト
---
リストは型がまちまちの要素を格納でき、使える型にはほかのリストも含まれる。たとえば次のようなものだ。

例：

In [19]:
small_birds = ['hummingbird', 'finch']
extinct_birds = ['dodo', 'passenger pigeon', 'Norwegian Blue']
carol_birds = [3, 'French hens', 2, 'turtledoves']
all_birds = [small_birds, extinct_birds, 'macaw', carol_birds]

それでは、リストのリストであるall_birdsはどうなっているのか確認する。

例：

In [20]:
all_birds

[['hummingbird', 'finch'],
 ['dodo', 'passenger pigeon', 'Norwegian Blue'],
 'macaw',
 [3, 'French hens', 2, 'turtledoves']]

最初の要素を見てみる。

例：

In [21]:
all_birds[0]

['hummingbird', 'finch']

最初の要素はリストになっている。実際、これはall_birdsを作るときに最初の要素として指定したsmall_birdsである。第2の要素がどうなっているかは、想像ができる。

例：

In [22]:
all_birds[1]

['dodo', 'passenger pigeon', 'Norwegian Blue']

これは、第2の要素として指定したextinct_birdsだ。all_birdsからextinct_birdsの先頭要素を取り出したいときには、all_birdsに2個のインデックスを与えればよい。

例：

In [23]:
all_birds[1][0]

'dodo'

[1]はall_birdsの第2要素のリストを指し、[0]はその内蔵リストの先頭要素を指す。

### 3.2.5 [offset]による要素の置き換え
---
オフセットでリスト要素の値を取り出せるのと同じように、オフセットでリスト要素の値を書き換えることもできる。

例：

In [24]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[2] = 'Wanda'
marxes

['Groucho', 'Chico', 'Wanda']

ここでも、リストオフセットは、対象のリストのなかで有効なものでなければならない。

文字列はイミュータブルなので、文字列内の文字をこの方法で書き換えることはできない。それに対し、リストはミュータブルである。リストは含んでいる要素数を変えることも、要素自体を置き換えることもできる。

### 3.2.6 オフセットの範囲を指定したスライスによるサブシーケンスの取り出し
---
**スライス**を使えば、リストのサブシーケンスを取り出すことができる。

例：

In [25]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes[0:2]

['Groucho', 'Chico']

リストのスライスもリストである。

文字列と同様に、スライスは1以外のステップを指定できる。次の例は、先頭から右にひとつおきに要素を取り出す。

例：

In [26]:
marxes[::2]

['Groucho', 'Harpo']

次の例は、末尾から左にひとつおきに要素を取り出す。

例：

In [28]:
marxes[::-2]

['Harpo', 'Groucho']

最後は、リストの要素を逆順にするトリックである。

例：

In [29]:
marxes[::-1]

['Harpo', 'Chico', 'Groucho']

### 3.2.7 append()による末尾への要素の追加
---
リストに要素を追加するための方法として伝統的に使われているのは、append()で末尾にひとつずつ追加していく方法だ。

先程の例では、Zeppoをリストに入れるのを忘れていたが、リストはミュータブルなので、今から彼を追加することができる。

例：

In [30]:
marxes.append('Zeppo')
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

### 3.2.8 extend()または+=を使ったリストの結合
---
extend()を使えば、ふたつのリストをひとつにまとめることができる。例えば、誰かが善意でothersという名前の新しいマルクスのリストをくれたとする。元のmarxesリストにothersの内容を追加して両者を結合するには、次のようにする。

例：

In [31]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes.extend(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

+=を使っても同じことができる。

例：

In [32]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes += others
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', 'Gummo', 'Karl']

このときにappend()を使うと、othersの要素が追加されるのではなく、othersが**1個**のリスト要素として追加されてしまう。

例：

In [33]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
others = ['Gummo', 'Karl']
marxes.append(others)
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo', ['Gummo', 'Karl']]

これもまた、リストが異なる型の要素を持てることを示す例になっている。この場合は、4個の文字列と1個のリスト（2個の文字列）だ。

### 3.2.9 insert()によるオフセットを指定した要素の追加
---
append()関数は、リストの末尾にしか要素を追加できない。リストのオフセットを指定し、その前に要素を追加したいときには、insert()を使う。オフセット0を指定すると、リストの先頭に挿入される。末尾を超えるオフセットを指定すると、append()と同じようにリストの末尾に挿入される。よって、Pythonが誤ったオフセットに対して例外を投げる心配はいらない。

例：

In [34]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.insert(3, 'Gummo')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

In [35]:
marxes.insert(10, 'Karl')
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo', 'Karl']

### 3.2.10 delによる指定したオフセットの要素の削除
---
我々のレビュアーが、Gummoは本当にMarx兄弟のひとりだが、Karlは違うと知らせてきた。最後の挿入を取り消そう。

例：

In [36]:
del marxes[-1]
marxes

['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']

位置を指定してリスト内の要素を削除したときには、その後ろの要素はどれも前に移動して削除された要素のスペースを埋める。そして、リストの長さは1だけ小さくなる。

marxesリストから'Harpo'を削除すると、結果は次のようになる。

例：

In [37]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes[2]

'Harpo'

In [38]:
del marxes[2]
marxes

['Groucho', 'Chico', 'Gummo', 'Zeppo']

In [39]:
marxes[2]

'Gummo'

delはPythonの**文**であり、リストのメソッドではないので、marxes[-2].del()とは書かない。delは代入(=)の逆のようなもので、Pythonオブジェクトから名前を切り離し、その名前がオブジェクトへの最後の参照なら、オブジェクトのメモリを開放する。

### 3.2.11 remove()による値に基づく要素の削除
---
削除したい要素がリストのどこにあるのかがはっきりわからない場合、またはどこにあるのかはどうでもよい場合には、remove()を使って値を指定して要素を削除することができる。

'Gummo'を削除する。

例：

In [40]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Gummo', 'Zeppo']
marxes.remove('Gummo')
marxes

['Groucho', 'Chico', 'Harpo', 'Zeppo']

### 3.2.12 pop()でオフセットを指定して要素を取り出し、削除する方法
---
pop()を使えば、リストから要素を取り出し、同時にリストからその要素を削除することができる。オフセットを指定してpop()を呼び出すと、そのオフセットの要素が返される。引数を指定しなければ、オフセットとして-1が使われる。そこで、次に示すように、pop(0)はリストヘッド（先頭）、pop()またはpop(-1)は末尾を返す。

例：

In [41]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.pop()

'Zeppo'

In [42]:
marxes

['Groucho', 'Chico', 'Harpo']

In [43]:
marxes.pop(1)

'Chico'

In [44]:
marxes

['Groucho', 'Harpo']

append()を使ってリストの末尾に新要素を追加し、pop()を使って同じく末尾から要素を削除する場合、**LIFO**（last in, first out: 後入れ先出し）というデータ構造を実装したことになる。**スタック**と呼ばれることの方が多い。それに対し、pop(0)を使えば、**FIFO**（first in, first out: 先入れ先出し）の**キュー（待ち行列）**を作ったことになる。これらは、届いたデータを集め、もっとも古いもの（FIFO）、もしくは、もっとも新しいもの（LIFO）から処理をしたいときに役に立つ。

### 3.2.13 index()により要素の値から要素のオフセットを知る方法
---
要素の値からその要素のリスト内でのオフセットを知りたい場合には、index()を使う。

例：

In [45]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
marxes.index('Chico')

1

### 3.2.14 inを使った値の有無のテスト
---
Pythonらしくリストに値があるかどうかをテストするには、inを使う。

例：

In [46]:
marxes = ['Groucho', 'Chico', 'Harpo', 'Zeppo']
'Groucho' in marxes

True

In [47]:
'Bob' in marxes

False

リストでは、複数の位置に同じ値が格納されている場合がある。少なくとも1か所に値があれば、inはTrueを返す。

例：

In [48]:
words = ['a', 'deer', 'a', 'female', 'deer']
'deer' in words

True

リスト内に値があるかどうかを頻繁にチェックし、値の順序は気にせず、値の重複がないのであれば、そのような値の格納、照合にはPythonの集合を使った方がよい。

### 3.2.15 count()を使った値の個数の計算
---
特定の値がリスト内に何個含まれているかを数えるには、count()を使う。

例：

In [49]:
marxes = ['Groucho', 'Chico', 'Harpo']
marxes.count('Harpo')

1

In [50]:
marxes.count('Bob')

0

In [51]:
snl_skit = ['cheeseburger', 'cheeseburger', 'cheeseburger']
snl_skit.count('cheeseburger')

3

### 3.2.16 join()による文字列への変換
---
「2.3.10 join()による結合」でjoin()については詳しく説明したが、ここではjoin()を使ってできることをもうひとつ紹介する。

例：

In [52]:
marxes = ['Groucho', 'Chico', 'Harpo']
', '.join(marxes)

'Groucho, Chico, Harpo'

これはちょっと話が逆な感じがしないだろうか。join()は文字列メソッドで、リストメソッドではない。そのため、marxes.join(', ')と書いた方がわかりやすい感じがするが、そう書くわけにはいかない。join()の引数は文字列か文字列のイテラブルシーケンス（リストを含む）で、出力は文字列である。join()がただのリストメソッドなら、タプルや文字列などのほかのイテラブル型では使えなかっただろう。

任意のイテラブル型を操作できるようにしようと思うなら、実際の結合の処理のために型ごとに特別なコードが必要になってしまう。

次に示すように、「join()はsplit()の逆である」と覚えておくと役に立つ。

例：

In [53]:
friends = ['Harry', 'Hermione', 'Ron']
separator = ' * '
joined = separator.join(friends)
joined

'Harry * Hermione * Ron'

In [54]:
separated = joined.split(separator)
separated

['Harry', 'Hermione', 'Ron']

In [55]:
separated == friends

True

### 3.2.17 sort()による要素の並べ替え
---
リストの要素をオフセットではなく値の順序で並べたいことがよくあるはずだ。Pythonは、ふたつの関数を提供している。

- リスト関数のsort()は、**その場**でリスト自体をソートする。
- 汎用関数のsorted()は、ソートされたリストの**コピー**を返す。

リストの要素が数値なら、デフォルトで数値の昇順でソートされる。要素が文字列ならば、アルファベット順でソートされる。

例：

In [56]:
marxes = ['Groucho', 'Chico', 'Harpo']
sorted_marxes = sorted(marxes)
sorted_marxes

['Chico', 'Groucho', 'Harpo']

sorted_marxesはコピーであり、これを作ってもオリジナルのリストは変更されない。

例：

In [57]:
marxes

['Groucho', 'Chico', 'Harpo']

しかし、marxesリストからリスト関数のsort()を呼び出すと、marxesリスト自体が書き換えられる。

例：

In [58]:
marxes.sort()
marxes

['Chico', 'Groucho', 'Harpo']

リストの要素がすべて同じ型なら（例えば、すべての要素が文字列になっているmarxesのように）、sort()は正しく動作する。型が混ざっていてもよい場合もある。

例えば、整数（int）と浮動小数点数（float）は、式のなかではPythonが自動的に変換を行うものであり、併用できる。

例：

In [59]:
numbers = [2, 1, 4.0, 3]
numbers.sort()
numbers

[1, 2, 3, 4.0]

デフォルトのソート順は昇順だが、reverse=True引数を追加すれば降順になる。

例：

In [60]:
numbers = [2, 1, 4.0, 3]
numbers.sort(reverse=True)
numbers

[4.0, 3, 2, 1]

### 3.2.18 len()による長さの取得
---
len()は、リスト内の要素数を返す。

例：

In [61]:
marxes = ['Groucho', 'Chico', 'Harpo']
len(marxes)

3

### 3.2.19 =による代入とcopy()によるコピー
---
次に示すように、ひとつのリストを複数の変数に代入すると、そのなかのひとつでリストを書き換えたときに、ほかのリストも書き換えられる。

例：

In [62]:
a = [1, 2, 3]
a

[1, 2, 3]

In [63]:
b = a
b

[1, 2, 3]

In [64]:
a[0] = 'surprise'
a

['surprise', 2, 3]

では、今bのなかには何が入っているのだろうか。まだ[1, 2, 3]なのか、それとも['surprise', 2, 3]なのか。確認してみる。

例：

In [65]:
b

['surprise', 2, 3]

bは、aと同じリストオブジェクトを参照している。a、bのどちらの名前を使ってリストの内容を書き換えても、その操作は両方に反映される。

例：

In [66]:
b

['surprise', 2, 3]

In [67]:
b[0] = 'I hate surprise'
b

['I hate surprise', 2, 3]

In [68]:
a

['I hate surprise', 2, 3]

次のいずれかの方法を使えば、リストの値を独立の新しいリストにコピーすることができる。

- リストのcopy()関数
- list()変換関数
- リストスライス[:]

オリジナルのリストは、aである。bは、リストのcopy()関数で作る。cは、list()変換関数、dはリストスライスで作る。

例：

In [1]:
a = [1, 2, 3]
b = a.copy()
c = list(a)
d = a[:]

繰り返すが、b、c、dは、aの**コピー**である。つまり、これらはそれぞれ自分の値を持つ新しいオブジェクトであり、aが参照する[1, 2, 3]というオリジナルのリストオブジェクトとはなんのつながりもない。

この場合、aを書き換えても、コピーのb、c、dには影響は及ばない。

In [2]:
a[0] = 'integer lists are boring'
a

['integer lists are boring', 2, 3]

In [3]:
b

[1, 2, 3]

In [4]:
c

[1, 2, 3]

In [5]:
d

[1, 2, 3]